.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

.widget-container {   
	display: flex;
        align-items: stretch;   
	justify-content: center; 
 	
	
}
#csodpcon, #csopvccon {   
  flex: 1;
}

.text{
 font-size: 10px;
 color:red;
}
.text1{
 font-size: 10px;
 color:red;
}
/* Board Styles */
.chess-board {
	width: 75vh;
	min-width: 500px;
	height: 75vh;
	min-height: 500px;
	display: grid;
	grid-template-columns: repeat(1, 100%);
	grid-template-rows: repeat(8, 12.5%);
	place-items: center;
	border-radius: 15px;
	box-shadow: 0 0 15px #0005;
}
.chess-board > .row {
	width: 100%;
	height: 100%;
}
.chess-board > .row > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12.5%;
	height: 100%;
	border: none;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
	cursor: pointer;
}
.chess-board > .row > div:hover > i { font-size: 7vh; }
.chess-board > .row > div > i {
	font-size: 5vh;
	text-shadow: 2px 2px 3px #0005;
	transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

/* Border Radius */
.chess-board .row:nth-child(1) > div:nth-child(1) { border-top-left-radius: 15px; }
.chess-board .row:nth-child(1) > div:last-of-type { border-top-right-radius: 15px; }
.chess-board .row:last-of-type > div:nth-child(1) { border-bottom-left-radius: 15px; }
.chess-board .row:last-of-type > div:last-of-type { border-bottom-right-radius: 15px; }
.chess-board .row:last-of-type() {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.chess-board .row:nth-child(1) {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/* Colors */
.chess-board .row:nth-child(odd) > div:nth-child(odd),
.chess-board .row:nth-child(even) > div:nth-child(even) {
	background-color: #9995;
}
.chess-board .row:nth-child(odd) > div:nth-child(even),
.chess-board .row:nth-child(even) > div:nth-child(odd) {
	background-color: #3335;
}
.chess-board .row > div:hover { border: 5px solid #aafa; }
.chess-board .row > div.invalid:hover { border: 5px solid #f33a; }
.chess-board .row > div.checkmate { background-color: #f33a !important; }
.chess-board .row > div.waiting {
	animation: 1.5s border-pulse linear infinite;
}
.chess-board .row > div > i.dark { color: #97f; }
.chess-board .row > div > i.light { color: #f79; }

/* Animations */
@keyframes border-pulse {
	0%, 100% { border: 5px solid #5f90; }
	50% { border: 5px solid #5f9a; }
}

/* Cursors */
.chess-board .row > div.invalid { cursor: not-allowed; }

/* Title Area */
.display-3 .fa-chess { transform: translateY(-10px); }
.display-3 .flip { transform: translateY(-10px) rotateY(180deg); }

/* Template Overrides */
.primary-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lead { font-size: 25px; }